body {
  background-color: #96E5E9;
}

.col-style {
  background-color: white;
}

.container-fluid {
  padding: 0px;
}

.flex-col {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}
